.hero {
  width: 100vw;
  margin-top: var(--fixed-h-value);
  height: calc(100dvh - var(--fixed-h-value));
  min-height: 600px;
  display: flex;
  align-items: center;
  transition: all 1s ease;
  color: #fff;
  position: relative;
  /* overflow: hidden; */
}

.hero_container {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  padding-left: var(--shared-px);
  padding-right: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background: url("../../../public/images/hero.png") 0 100%,
    linear-gradient(247.97deg, #09224E 18.53%, #41cfd2 137.6%);
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

.side {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* flex-shrink: 0; */
}

.hero .side:first-child h1 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 4rem;
  margin-bottom: 10px;
}

.hero .side:first-child p {
  font-size: 1.375rem;
  line-height: 2rem;
  margin-right: 20px;
}

.indicator_container {
  left: 0;
  right: 0;
  top: 94dvh;
  margin: auto;
  width: max-content;
  display: flex;
  gap: 6px;
  position: absolute;
}

.indicator {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 1s ease;
}

.hero_container .side:last-child {
  height: 500px;
  background: url("../../../public/images/solution/hero_clip.png") no-repeat;
  background-size: cover;
  mask-image: url("../../../public/images/solution/clip1.png"),
    url("../../../public/images/solution/clip2.png"),
    url("../../../public/images/solution/clip3.png");
  mask-size: 75% 180px, 33% 300px, 45% 150px;
  mask-repeat: no-repeat;
  mask-position: 20% 0px, 25px 200px, 70% 200px;
  animation: vector 4s infinite ease-in-out alternate-reverse;
  /* z-index: 10000; */
}

@keyframes vector {
  to {
    mask-position: 76% 0px, 0px 60px, 47% 200px;
  }
}

@media (width < 736px) {
  .hero_container {
    flex-direction: column-reverse;
    padding-left: var(--shared-px);
    padding-right: var(--shared-px);
    padding-block: 60px;
  }

  .hero_container .side {
    /* display: block; */
    flex: 0;
  }

  .hero_container .side:last-child {
    flex: 1;
    width: 100%;
    height: 100%;
    mask-size: 75% 120px, 33% 200px, 45% 110px;
    mask-position: 50% 0px, 15% 130px, 85% 130px;
  }

  @keyframes vector {
    to {
      mask-position: 86% 0px, 0px 20px, 40% 130px;
    }
  }

  .hero .side:first-child h1 {
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 2.2rem;
    margin-bottom: 10px;
  }

  .hero .side:first-child p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-right: 20px;
  }
}
