.container::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  background: url("../../../public/images/solution/vector1.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -180px;
  top: 100px;
  z-index: 0;
  animation: container 2s infinite ease-in-out alternate-reverse;
}

@keyframes container {
  to {
    transform: translateY(-30px);
  }
}

.container_val {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.value_card {
  background: white;
  border-radius: 20px;
  color: #000;
  position: relative;
}

.value_card_box {
    padding-bottom: 48px;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border-radius: 20px;
}


.value_card:hover {
    color: white;
    border-radius: 0;
}


.clip {
  position: absolute;
  background: linear-gradient(137.61deg, #09224E 100%, #000000 95.17%);
  /* background: linear-gradient(0.56deg, #09224e -29.82%, #45a3d6 100.19%); */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  z-index: 0;
  /* clip-path: circle(25% at 50% 50%); */
  /* transition: all 0.9s cubic-bezier(0.25, 1.5, 0.5, 1); */
  opacity: 0  ;
  pointer-events: none;
}

.clip::after {
  content: "";
  position: absolute;
  background: linear-gradient(0.56deg, #09224e -29.82%, #45a3d6 100.19%);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  z-index: 0;
  clip-path: circle(0% at 50% 50%);
  transition: all 0.9s cubic-bezier(0.25, 1.5, 0.5, 1);
  opacity: 0;
  pointer-events: none;
}

.value_card:hover .clip::after {
    clip-path: circle(75% at 50% 50%);
    opacity: 1;
    border-radius: 0px;
}

.value_card:hover .clip {
    /* clip-path: circle(70% at 50% 50%); */
    opacity: 1;
    border-radius: 0px;
}

/* @keyframes clip-path {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(100% at 50% 50%);
    }
  } */

  .edge {
    width: 60%;
    height: 130px;
    background: var(--bg-dark-blue);
    position: absolute;
    margin: auto;
    top: -60px;
    left: 0;
    right: 0;
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  
  .edge::before {
    width: 250px;
    height: 250px;
    content: "";
    position: absolute;
    background: url("../../../public/images/solution/group1.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: -30px;
    left: -90px;
    animation: edge-left 2s ease-in-out alternate-reverse infinite;
  }
  
  .edge::after {
    width: 250px;
    height: 250px;
    content: "";
    position: absolute;
    background: url("../../../public/images/solution/group1.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: -40px;
    right: -110px;
    transform: rotate(10deg);
    animation: edge-right 2s ease-in-out alternate-reverse infinite;
  }
  @keyframes edge-right {
    to {
      transform: translateY(-30px) rotate(10deg);
    }
    
  }
  @keyframes edge-left {
    to {
      transform: translateY(-30px);
    }
    
  }
  
@media (width <= 1000px) {
  .container_val {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

}


@media (width <= 870px) {
  .edge {
    width: 90%;
  }

  .edge::before, .edge::after {
    display: none;
  }
}
  
@media (width <= 600px) {
  .container_val {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 32px; */
  }
  .container::before {
    display: none;
  }
}


