.nav_container {
  /* background: linear-gradient(-120deg, #09224E 0%, #41CFD2 130%); */
  width: 100%;
  height: var(--fixed-h-value);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--shared-px);
  padding-block: 20px;
  z-index: 100;
  border-bottom: 1px solid #4586c2;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
  --sidebar-size: 220px;
}

.nav_link {
  position: relative;
}

.nav_link ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.hamburger, .sm_head, .sm_contact {
  display: none;
}

.skip_link {
  position: fixed;
  top: 0;
  z-index: 110;
  width: max-content;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  /* top: 10px; */
  translate: 0 -100%;
  transition: translate 0.2s;
}

.skip_link:focus {
  translate: 0 10px;
}

@media (width <= 666px) {
  .nav_link {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: calc(100dvh);
    background-color: #212C62;
    background-repeat: no-repeat;
    right: -80%;
    top: 0;
    transition: 0.9s ease-in-out;
    z-index: 150;
    padding: 30px 15px;
    padding-right: 25px;
  }

  .sm_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .sm_contact {
    display: flex;
    position: relative;
    gap: 10px;
    flex-direction: column;
    margin-top: auto;
    width: 80%;
    margin-inline: auto;
  }
  
  .nav_link ul {
    gap: 0;
    flex-direction: column;
  }

  .nav_link ul li {
    /* padding: 10px 10px; */
    width: 100%;
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    /* border-bottom: 1px solid #4586c2; */
  }

  .nav_link ul li a {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #41CFD2;
  }

  .nav_link ul li a:first-child {
    border-top: 1px solid #41CFD2;
  }

  .nav_link ul li a:hover {
    background-color: #4586c2;
    color: #fff;
  }

  .hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: red; */
    min-width: 34px;
    min-height: 22px;
    position: relative;
    cursor: pointer;
  }
  
  .hamburger .bar:first-child, .hamburger .bar:nth-child(2) {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    display: block;
  }
  
  .hamburger .bar:last-child {
    width: 75%;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    margin-left: auto;
    display: block;
  }

  /* .hamburger.open .bar:last-child {
    display: none;
  }

  .hamburger.open .bar:first-child {
   rotate: 45deg;
   position: absolute;
   top: 50%;
  } */
  /* .hamburger.open .bar:nth-child(2) {
   rotate: -45deg;
   position: absolute;
   top: 50%;
  } */

  .nav_link.open {
    right: 0;
  }

  .auto_close {
    /* display: block; */
    position: fixed;
    left: 0;
    width: calc(100%);
    height: calc(100dvh - var(--fixed-h-value));
    top: var(--fixed-h-value);
    background-color: #6969696c;
    z-index: 10 !important;
  }
}
